@font-face {
  font-family: "Circe";
  src: url(../../assets/fonts/Cicle/Circe-Bold.eot);
  src: url(../../assets/fonts/Cicle/Circe-Bold.ttf);
  src: url(../../assets/fonts/Cicle/Circe-Bold.woff);
  src: url(../../assets/fonts/Cicle/Circe-ExtraBold.eot);
  src: url(../../assets/fonts/Cicle/Circe-ExtraBold.ttf);
  src: url(../../assets/fonts/Cicle/Circe-ExtraBold.woff);
  src: url(../../assets/fonts/Cicle/Circe-ExtraLight.eot);
  src: url(../../assets/fonts/Cicle/Circe-ExtraLight.ttf);
  src: url(../../assets/fonts/Cicle/Circe-ExtraLight.woff);
  src: url(../../assets/fonts/Cicle/Circe-Light.eot);
  src: url(../../assets/fonts/Cicle/Circe-Light.ttf);
  src: url(../../assets/fonts/Cicle/Circe-Light.woff);
  src: url(../../assets/fonts/Cicle/Circe-Regular.eot);
  src: url(../../assets/fonts/Cicle/Circe-Regular.ttf);
  src: url(../../assets/fonts/Cicle/Circe-Regular.woff);
  src: url(../../assets/fonts/Cicle/Circe-Thin.eot);
  src: url(../../assets/fonts/Cicle/Circe-Thin.ttf);
  src: url(../../assets/fonts/Cicle/Circe-Thin.woff);
}

@font-face {
  font-family: "Poppins";
  src: url(../../assets/fonts/Poppins/Poppins-Black.ttf);
  src: url(../../assets/fonts/Poppins/Poppins-BlackItalic.ttf);
  src: url(../../assets/fonts/Poppins/Poppins-Bold.ttf);
  src: url(../../assets/fonts/Poppins/Poppins-BoldItalic.ttf);
  src: url(../../assets/fonts/Poppins/Poppins-ExtraBold.ttf);
  src: url(../../assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf);
  src: url(../../assets/fonts/Poppins/Poppins-ExtraLight.ttf);
  src: url(../../assets/fonts/Poppins/Poppins-ExtraLightItalic.ttf);
  src: url(../../assets/fonts/Poppins/Poppins-Italic.ttf);
  src: url(../../assets/fonts/Poppins/Poppins-Light.ttf);
  src: url(../../assets/fonts/Poppins/Poppins-LightItalic.ttf);
  src: url(../../assets/fonts/Poppins/Poppins-Medium.ttf);
  src: url(../../assets/fonts/Poppins/Poppins-MediumItalic.ttf);
  src: url(../../assets/fonts/Poppins/Poppins-Regular.ttf);
  src: url(../../assets/fonts/Poppins/Poppins-SemiBold.ttf);
  src: url(../../assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf);
  src: url(../../assets/fonts/Poppins/Poppins-Thin.ttf);
  src: url(../../assets/fonts/Poppins/Poppins-ThinItalic.ttf);
}

:root {
  --white: #ffffff;
  --black: #000000;
  --grayFive: #E0E0E0;
  --grayFour: #BDBDBD;
  --accentBlueColor: #4A56E2;
  --accentGreenColor: #24CCA7;
  --accentRoseColor: #FF6596;
  --mainFont: 'Poppins', sans-serif;
  --additionalFont: "Circe", sans-serif;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    min-width: 280px;
    padding: 0px 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 738px;
    padding: 0px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    padding: 0px 16px;
  }
}

.testStyleMainFont {
  font-family: var(--mainFont);
  font-weight: 700;
  font-size: 32px;
}

.testStyleAdditionalFont {
  font-family: var(--additionalFont);
  font-weight: 400;
  font-size: 24px;
}

.loaderSection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.formComponent {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .formComponent {
    width: 535px;
    height: 470px;
    border-radius: 20px;
  }
}

.form {
  margin-top: 60px;
}

.input {
  position: relative;
}

.inputError:not(:first-child) {
  margin-top: 20px;
}

.formField {
  width: 280px;
  height: 32px;
  padding-left: 55px;
  border: none;
  border-bottom: 1px solid var(--grayFive);
  outline: none;
}

.formField:-webkit-autofill, .formField:-webkit-autofill:hover, .formField:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--black);
  box-shadow: 0 0 0px 1000px var(--white) inset;
  font-family: var(--additionalFont);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .formField {
    width: 410px;
  }
}

.formField::placeholder {
  font-family: var(--additionalFont);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--grayFour);
}

.formImg {
  position: absolute;
}

.btnForm {
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  width: 280px;
  height: 40px;
  margin-top: 25px;
  font-family: var(--additionalFont);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--accentGreenColor);
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .btnForm {
    width: 300px;
  }
}

.btnLinkForm {
  display: flex;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 40px;
  font-family: var(--additionalFont);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--accentBlueColor);
  background-color: var(--white);
  border: 1px solid var(--accentBlueColor);
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .btnLinkForm {
    width: 300px;
  }
}

.textErrorForm {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  font-family: var(--additionalFont);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: var(--accentRoseColor);
}

@media screen and (min-width: 768px) {
  .textErrorForm {
    width: 410px;
  }
}

.balanceWrap {
  padding: 10px 32px;
  width: 280px;
  height: 80px;
  text-align: left;
  background: var(--white);
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .balanceWrap {
    width: 336px;
    padding: 10px 40px;
  }
}

@media screen and (min-width: 1280px) {
  .balanceWrap {
    width: 395px;
  }
}

.balanceTitle {
  margin: 0px 0px 12px 0px;
  font-family: var(--additionalFont);
  font-size: 12px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #A6A6A6;
}

.balanceText {
  font-family: var(--mainFont);
  font-size: 30px;
  line-height: 1.1;
  color: var(--black);
}

.table {
  padding: 10px 20px 10px;
  width: 280px;
  height: 174px;
  font-family: var(--additionalFont);
  color: var(--white);
  background-color: var(--accentBlueColor);
  background-repeat: no-repeat;
  background-position: bottom, top;
  border-radius: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .table {
    width: 336px;
    height: 182px;
  }
}

@media screen and (min-width: 1280px) {
  .table {
    padding: 15px 20px 134px;
    width: 393px;
    height: 347px;
  }
}

.tableHead {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
}

.tableHeadItem {
  padding-bottom: 10px;
}

@media screen and (min-width: 1280px) {
  .tableHeadItem {
    padding-bottom: 30px;
  }
}

.tableBody {
  position: relative;
  font-size: 16px;
  line-height: 1.5;
}

.tableItemLeft {
  text-align: left;
}

@media screen and (min-width: 1280px) {
  .tableItemLeft {
    text-align: center;
  }
}

.tableItemCenter {
  text-align: center;
}

.tableItemRight {
  text-align: right;
}

@media screen and (min-width: 1280px) {
  .tableItemRight {
    text-align: center;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  width: 100%;
  height: 60px;
  background-color: #fff;
}

.headerLogoutWrap {
  display: flex;
  font-family: var(--additionalFont);
  font-size: 18px;
  line-height: 1.5;
  color: var(--grayFour);
}

.headerUserName {
  padding-right: 12px;
}

@media screen and (min-width: 768px) {
  .headerUserName {
    border-right: 1px solid var(--grayFour);
  }
}

.headerLogoutImg {
  margin-right: 12px;
  margin-left: 12px;
  fill: var(--grayFour);
}

@media screen and (max-width: 767px) {
  .headerLogout {
    display: none;
  }
}

.linkLogo {
  display: flex;
  align-items: center;
  color: var(--black);
}

.logoImg {
  margin-right: 15px;
  width: 30px;
}

@media screen and (min-width: 768px) {
  .logoImg {
    margin-right: 20px;
    width: 40px;
  }
}

.logoText {
  font-family: var(--mainFont);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .logoText {
    font-size: 30px;
  }
}
/*# sourceMappingURL=main.css.map */