//FONTS

@font-face {
  font-family: "Circe"
  src: url(../../assets/fonts/Circle/Circe-Bold.eot) 
  src: url(../../assets/fonts/Circle/Circe-Bold.ttf)
  src: url(../../assets/fonts/Circle/Circe-Bold.woff)
  src: url(../../assets/fonts/Circle/Circe-ExtraBold.eot)
  src: url(../../assets/fonts/Circle/Circe-ExtraBold.ttf)
  src: url(../../assets/fonts/Circle/Circe-ExtraBold.woff)
  src: url(../../assets/fonts/Circle/Circe-ExtraLight.eot)
  src: url(../../assets/fonts/Circle/Circe-ExtraLight.ttf)
  src: url(../../assets/fonts/Circle/Circe-ExtraLight.woff)
  src: url(../../assets/fonts/Circle/Circe-Light.eot) 
  src: url(../../assets/fonts/Circle/Circe-Light.ttf) 
  src: url(../../assets/fonts/Circle/Circe-Light.woff)
  src: url(../../assets/fonts/Circle/Circe-Regular.eot) 
  src: url(../../assets/fonts/Circle/Circe-Regular.ttf) 
  src: url(../../assets/fonts/Circle/Circe-Regular.woff)
  src: url(../../assets/fonts/Circle/Circe-Thin.eot) 
  src: url(../../assets/fonts/Circle/Circe-Thin.ttf) 
  src: url(../../assets/fonts/Circle/Circe-Thin.woff)
}