.diagram{
    margin-left: 480px;
    margin-bottom: 32px;
}
.diagramTab{
    display: flex;    
}
.title{
    margin-left: 69px; 
    margin-bottom: 20px;
    font-family: var(----mainFont);
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.5;
}