.header{
        display: flex;
        justify-content:space-between;
        align-items:center;
        
        padding: 15px 20px;
        
        width: 100vw;
        height: 60px;
        z-index: 100;
        
        
        
        background-color: #fff;
}