.navigationList{
    @media screen and (max-width: 767px) {
        display: flex;
        justify-content:space-evenly;

    }
}

.navigationText{
    font-family: var(--mainFont);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
      
    color: var(--black);

    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 768px) {
            vertical-align: middle;
        }
}

.navigationItem{
}

.navigationLink{
    font-family: var(--mainFont);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1;
    
    color: var(--black);
}

.navigationActiveLink{
    font-weight: 700;
}

.navigationImg{
    background-color: aqua;

    @media screen and (min-width: 768px) {
    margin-right: 20px;        
}

}


.navigationCurrencyItem{
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.navigationText{
        display:inline-block;

         @media screen and (max-width: 767px) {
            display: none;
        }
}